

.video-title {
    font-weight: bold;

}
.thumbnail1{
    position: relative;
}
.time{
    position: absolute;
    bottom: 20px;
    right: 8px;
    background-color: black;
    color: white;
    padding: 5px;
    font-weight: 500;
    border-radius: 4px;


    
}

.thumbnail {
    width: 100%;
    margin-bottom: 6px;
  

}



.container2 {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
}

.profile {
    margin-left: 10px;
    width: 38px;
    border-radius: 25px;
    margin-top: 10px;


}

.video-author {
    margin-top: 10px;
    color: grey;
}

.video-stats {
    color: grey;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;

}